body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}


/* ==== Top Banner Scetion-Starts ==== */

.Flex-area{
  display: flex;
}

section{
  
  margin-bottom: 150px;
 
}
.top-banner{
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;
}

.half-width{
width: 50%;
padding: 5%;
}
.half-width h1{
  font-size: 50px;
}
.half-width h2{
  font-size: 40px;
}
.half-width h3{
  font-weight: 900;
}
.half-width span{
  color: orange;
}

.half-width img{
  width: 95%;
}
.Hire-Btn{
  text-decoration: none;
  background-image: linear-gradient(to left,salmon,orange);
  padding: 10px 40px;
  font-weight: 800;
  color: white;
  border-radius:5px;
}
     /* ==== Top Banner Scetion-Ends ==== */

     /* ==== Dream Scetion Starts ==== */
    
     .Drame-big{
      background-image: url(./images/dream-bg.png);
      background-repeat: no-repeat; 
      background-position:right 78%;
    }
        
    /* ==== Dream Scetion Starts ==== */

    /* ===== Experience Section Starts ===== */
    .Experince-area{
   background-image: url(./images/exp-bg.png);
   background-repeat: no-repeat;
   background-position: left bottom;

    }
    .Experince-area h1{
      font-size: 50px;
    }
    
   .Exper-half{
     width: 45%;
     box-shadow: 10px 10px 40px #ddd;
     margin-left: 3%;
     margin-right: 3%;
     padding: 20px;
     border-radius: 10px;
     
   }
   .Exper-half h1{
    font-size: 40px;
   }

  .Exper-half h3{
   color: orange;
     
   }
   #FullStack{
     border-left: 7px solid;
     border-image: linear-gradient( to bottom,salmon,orange);
     border-image-slice: 1;
    } 

    #WebDeveloper{
      border-left: 7px solid;
      border-image: linear-gradient(to top,blue,cyan);
      border-image-slice: 1;
     }
  
   

    /* ===== Experience Section Starts ===== */

    /* ===== footer Section Starts ===== */
   
    footer{
      text-align: center;
      margin-bottom: 20px;
    }
     /* ===== footer Section Starts ===== */

